<%- include('partials/header') %>
<h1>Place an Offer</h1>
<form action="/auctions/<%= auctionId %>/offers" method="post">
    <label>Amount: <input type="number" name="amount" required></label><br>
    <button type="submit">Submit Offer</button>
</form>
<%- include('partials/footer') %>
